<section class="section" >
  <div class="container my-4">

    <div class="col-lg-12 text-center">
      <div class="section-heading">
        <h2>Latest Courses</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <!-- Video 1 -->
      <div class="col-md-6 d-flex justify-content-center shadow-lg rounded card m-0 p-0">
          <iframe 
            width="100%"
            height ="315"
            src="https://www.youtube.com/embed/lGWSfiTnhqs" 
            title="CS EXECUTIVE | Cost & Management Accounts | MCQ Part 2 | December, 17 | SOLVED | FULL HD" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
          </iframe>
      </div>

      <!-- Video 2 -->
      <div class="col-md-6 d-flex justify-content-center shadow-lg rounded card m-0 p-0">
          <iframe 
            width="100%"
            height ="315"
            src="https://www.youtube.com/embed/lGWSfiTnhqs" 
            title="CS EXECUTIVE | Cost & Management Accounts | MCQ Part 2 | December, 17 | SOLVED | FULL HD" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
          </iframe>
      </div>
    </div>
  </div>
</section>
