{% load static %}

<div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel owl-testimonials">
            <div class="item">
              <p>
                Ajay Verma classes ensures that the students get their concepts cleared, which, according to me is the most important thing for cracking the exams.
                Ajay Verma Sir, Rajiv Midda Sir and Neeraj Sir are the best teachers one can ask for because the job of a teacher is not limited to teaching us what is written inside the books. I have been lucky to have teachers who taught me far more than the syllabus, who showed me how to tackle obstacles head-on and provided me with constant motivation.
                Once you join this place, you would want to go back home and study to make your parents and your teachers proud.
              </p>
              <div class="author">
                <img src="{% static "assets/images/testimonial-Juhi-Khanna.jpg" %}" alt="">
                <span class="category">Student</span>
                <h4>Juhi Khanna</h4>
              </div>
            </div>
            <div class="item">
              <p>
                VC is the one of the best class for CS students with group of best faculties, they have incredible knowledge and enthusiasm for the subject matter they are teaching. They are prepared to answer questions and keep the material interesting for the students. Its an institute where you will not only learn but also gets inspiration to become successful. I want to give my heartfelt thanks to Rajiv Sir, Ajay Sir and Niraj Sir for their contribution in my Success.
              </p>
              <div class="author">
                <img src="{% static "assets/images/testimonial-Poonam-Agarwal.jpg" %}" alt="">
                <span class="category">Student</span>
                <h4>Poonam Agarwal</h4>
              </div>
            </div>
            <div class="item">
              <p>
                Ajay Verma.. a true mentor..
                Many may think that teaching is his profession but I would like to call it PASSION.. Master of his art. He not only imparts knowledge but is a wonderful professional guide.. I would like to dedicate my professional achievements to him and his instutute (AVC).
              </p>
              <div class="author">
                <img src="{% static "assets/images/testimonial-Pritika-Nagi.jpg" %}" alt="">
                <span class="category">Student</span>
                <h4>Pritika Nagi</h4>
              </div>
            </div>
            <div class="item">
                <p>
                    With Ajay sir I learnt not only subjects n text here but also learnt how to present n manage ourselves well... Ajay sir... an impressive teacher with grand personality.... a hearty salute to a great TEACHER N HIS ACADEMY.....Always ur student Atul Gaur
                </p>
                <div class="author">
                  <img src="{% static "assets/images/testimonial-Atul-Gaur.jpg" %}" alt="">
                  <span class="category">Student</span>
                  <h4>Pritika Nagi</h4>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>TESTIMONIALS</h6>
            <h2>What they say about us?</h2>
            <p>
                "At CA AJAY VERMA CLASSES, nothing brings me more joy than seeing our students succeed and thrive in their professional journeys. Over the years, I’ve had the privilege of mentoring countless students who’ve not only excelled in their exams but also gone on to build impactful careers. Their consistent feedback about how our unique teaching methods, concept-based learning, and personalized guidance have made a difference is deeply rewarding. Hearing students say that our approach has boosted their confidence and helped them unlock their true potential reaffirms my commitment to providing the best education possible. It’s truly humbling to know that our work is making a lasting impact on the future of so many bright minds."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>