
{% extends "course/basic.html" %}

{% load static %}

{% block title %}About Us{% endblock title %}


{% block body %}


<!-- Header Start -->
<div class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
          <h1 style="color: #fff;">About Us</h1>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->


<div class="section about-us">
    <div class="container">
      <div class="row">
        <!-- image of ajay verma START -->
        <div class="col-lg-5 offset-lg-1">
            <img src="{% static "assets/images/ajay-verma-pic.png" %}" alt=""> 
        </div>
        <!-- image of ajay verma END -->


        <!-- About us Text Section Start -->
        <div class="col-lg-6 align-self-center">
          <div class="section-heading">
            <h2>What make us the best academy online?</h2>
          <p style="white-space: pre-line;">
            It will be a great pleasure to introduce ourselves e ourselves (AJAY VERMA CLASSES) as one of the oldest and leading institute imparting valuable coaching for CS,CMA,CA at all  levels.

            CA AJAY VERMA CLASSES which is popularly known as AVC has been set up by CA CA AJAY KUMAR VERMA in the year 1987, who is commerce graduate from Delhi University and Chartered Accountant by profession. This Institute was set up by the name of INSTITUE OF COMMERCE (IOC), which is renamed as CA AJAY VERMA CLASSES (AVC) recently.
            
            AVC is leading institute providing indepth & conceptual knowledge on various subjects. It has been the legacy of mankind to pass on the candle of knowledge and illuminate young minds. We at AVC continue to carry on this tradition.
          </p>
          </div>
        </div>
        <!-- About us Text Section END -->

        <div class="col-12 col-lg-10 offset-lg-2">
          <div class="section-heading">
            <p style="white-space: pre-line;">
              The institute has the history of producing rank holders. We at AVC have a vision to provide quality education to the students. The institute has a team of professionally qualified, experienced & dedicated Faculty.

              The classes are conducted in a scientific and professional manner. The team of AVC is having rich experience in their subjects. The mission of AVC is to make the youths of India, a competent professionals towards the growth of Nation. Thousands of students have passed their CS/CMA/CA in the past. AVC is having the excellent record in student’s satisfaction. Students from all over India come to the institute for the best coaching. AVC has recorded the maximum pass percentage in the past.
              
              Through this letter we wish to give you a few guidelines as to how to successfully pass CA,CS,CMA examinations. These are based on the experience of several students like you. The points are not exhaustive, and you need to evolve a study plan that is best suited to you. However, any plan must adequately cover these points.
              
              First of all start early. It is a normal tendency of several students to put off their study efforts endlessly. This leads to accumulation of the studies required to render them unmanageable. The sooner you start the better will be your preparation. Do not waste even a single day.
              
              Secondly, it is also a tendency of the student to cram subject but this is not the solution. The ultimate object is fundamental clarity of the subject, so don’t cram any subject it will not serve your purpose.
              
              Third but not the least, don’t be selective, do 100% course contents of the subject with in the class itself.
              
              Our focus at CA Ajay Verma Classes is to provide our students with the best education and to prepare them for rewarding careers.
              Successful people are not born; they are made, shaped and moulded. Becoming successful is a skill and like any other skill, you can learn about it from books but you cannot have perfection without practice.
              
              At AVC we emphasize Concept based learning and it takes you out of the classroom into the real professional examinations.
              
              The essential attributes of CS,CMA,CA are sound theoretical & practical knowledge, technical skills, integrity, and service orientation. Students need to imbibe these to become successful in their life.
              
              The basic structure of the institute is firmly built on a highly professional faculty comprising of a perfect blend of CA, CS, Professors, Academicians and other experts. Being the torchbearer our faculty feel that success is not the exclusive domain of a chosen few; even every student has the potential to succeed and this has to be brought to the fore through the sustained hard work of the student and the appropriate guidance. The magnificence of a pearl can only be appreciated when it has been prized out of oyster and polished to perfection.
              
              Our students are excelling largely due to the faculty’s unique teaching methodology, commitment and dedication. Our faculty play a role of mentor and guide them so that they improve.
              
              AT AVC our quality holds the baton of our unmatched success in CS,CMA,CA exam. At AVC we give more emphasis on concept clarity, at AVC each and every lecture is planned and documented so as to make sure that the content delivered is standard, complete and delivered in stipulated time.
              
              Lastly, be wary of myths prevailing around you. Do not harbour feelings that the course is unmanageable or the ICSI restricts the pass percentages. Such baseless myths will only reduce your confidence and discourage you. You must believe in yourselves.
              
              We wish you the best – and know you will find the very best at AJAY VERMA CLAS ….come and learn how to be a winner.
            </p>
          </div>
        </div>

        <!-- Accordion Start -->
        {% include "course/includes/faq.html" %}
        <!-- Accordion End -->

      </div>
    </div>
</div>
{% endblock body %}