

{% extends "course/basic.html" %}

{% load static %}

{% block title %}About Us{% endblock title %}


{% block body %}

<!-- Header Start -->
<div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 ">
            <h1 style="color: #fff;">Blog Topic</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
  

<!-- Blog Post Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img src="https://media.istockphoto.com/id/1220573371/photo/minimal-work-space-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop.jpg?s=612x612&w=0&k=20&c=xmrSzPD4LCRhPD4L5TlttC88sSYe9Pc3J2ZnxCMzzyQ=" class="img-fluid mb-3" alt="Post Image">
            <p class="lead">This is an introduction to the blog post, providing an overview or some context.</p>
            
            <h2>Post Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
            
            <div class="text-center my-4">
                <img src="{% static 'assets/images/gallery-1.jpg' %}" class="img-fluid" alt="Related Image">
            </div>
            
            <h3>Another Section</h3>
            <p>Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
    </div>
</div>

{% endblock body %}