
{% extends "course/basic.html" %}

{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}

  <!-- Landing Banner Start -->
  {% include "course/includes/landing-banner.html" %}
  <!-- Landing Banner End -->

  <!-- Batches Info Start -->
  {% include "course/includes/batches-cards.html" %}
  <!-- Batches Info End -->

  <!-- About Start -->
  <div class="section about-us my-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1">

          {% include "course/includes/faq.html" %}

        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            {% comment %} <h6>About Us</h6> {% endcomment %}
            <h2>CA AJAY VERMA CLASSES</h2>
            <p style="white-space: pre-line;">
              We proudly introduce ourselves as CA AJAY VERMA CLASSES (AVC), one of the oldest and most prestigious institutes for CA, CS, and CMA coaching in India. Established in 1987 by CA Ajay Kumar Verma, a commerce graduate from Delhi University and a Chartered Accountant by profession, the institute began as the Institute of Commerce (IOC) and later evolved into AVC. With a legacy spanning decades, AVC has consistently produced top rank holders and boasts the highest pass percentages, attracting students from across the country.

              At AVC, we are committed to delivering quality education through experienced and dedicated faculty, employing a scientific and professional teaching methodology. Our mission is to shape competent professionals who contribute to the nation's growth. Emphasizing concept clarity, every lecture is meticulously planned and documented to ensure comprehensive and timely coverage. Guided by the belief that success is achievable for every student, we focus on unlocking potential through sustained hard work and expert mentorship. As we say, “Successful people are not born; they are made.” Join CA AJAY VERMA CLASSES to embark on your journey to excellence and transform your aspirations into achievements.
            </p>
            <div class="main-button m-3">
              <a href="/about-us">Discover More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Batches Info Start -->
  {% comment %} {% include "course/includes/our-videos.html" %} {% endcomment %}
  <!-- Batches Info End -->

  <!-- Statistics Start -->
  {% include "course/includes/statistics.html" %}
  <!-- Statistics End -->

  <!-- Team Cards Start -->
  {% comment %} {% include "course/includes/team-cards.html" %} {% endcomment %}
  <!-- Team Cards End -->

  <!-- Testimonials Start -->
  {% include "course/includes/testimonials.html" %}
  <!-- Testimonials End -->

  <!-- Events Start -->
  {% include "course/includes/events.html" %}
  <!-- Events End -->

{% endblock body %}